.systemConfig .el-dialog__close {
  display: none;
}
.systemConfig .el-dialog {
  height: 430px;
  background-image: url("/image/mapbg_proprety_layer.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
  color: #97d0f6;
}
.systemConfig .el-dialog__body {
  width: 420px;
  margin-left: 25px;
  margin-top: 15px;
  background-color: #18376e;
}
.systemConfig .el-form-item__label {
  color: #97d0f6;
}
.systemConfig .el-input-number__decrease,
.systemConfig .el-input-number__increase {
  background-color: #18376e;
  color: #97d0f6;
}

/* 查询按钮 */
.systemConfig .el-button--primary {
  position: relative;
  left: 340px;
  bottom: -10px;
}
