@import "./css/deviceLog.css";
@import "./css/operationLog.css";
@import "./css/systemConfig.css";
@import "./css/layerManage.css";
@import "./css/warnQuery.css";
@import "./css//about.css";
@import "./css/defenceManage.css";
@import "./css/relieve.css";
@import "./css/historyWarn.css";
* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

html {
  font-size: 16px;
}
li {
  list-style-type: none;
}
/* -----------------element部分-------------------------------- */
.subMenu .el-menu--popup {
  min-width: 80px;
}
.subMenu .el-menu-item {
  font-size: 0.875rem;
}
.defence .el-dialog {
  background-image: url("/image/mapbg_layer.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  box-shadow: none;
  color: #97d0f6;
  min-height: 650px;
}
.defence .el-dialog .el-dialog__headerbtn {
  display: none;
}
.defence .el-dialog .el-dialog__header {
  margin-right: 0;
}
.defence .el-dialog .el-dialog__body {
  padding-top: 0.625rem;
}

.exhibition .is-leaf {
  background-color: #18376e !important;
  color: #38c3fd;
}
/* .exhibition .el-table__row {
  background-color: #18376e !important;
} */
.exhibition .el-table .working-row {
  background-color: #b3e19d;
}
.exhibition .el-table .notWorking-row {
  background-color: #f3d19e;
}
.exhibition .el-table .byPass-row {
  background-color: #fab6b6;
}
.exhibition .el-table .loseEfficacy-row {
  background-color: #c8c9cc;
}
.exhibition .el-table .warning-row {
  background-color: #ff4757;
}
.exhibition .btn-prev {
  background-color: #18376e !important;
}
.exhibition .btn-next {
  background-color: #18376e !important;
}
.exhibition .number {
  background-color: rgba(24, 55, 110, 0.8) !important;
  color: #2ea1d1 !important;
}
.exhibition .is-active {
  background-color: #409eff !important;
  color: #fff !important;
}
.exhibition .el-input__wrapper {
  background-color: #18376e !important;
  color: #38c3fd !important;
}
.exhibition .el-pagination__jump {
  color: #38c3fd !important;
}
.exhibition .el-input__inner {
  color: #38c3fd !important;
}
/* 防区管理下的防区计划 */
.defenceDetailDialog .el-dialog {
  background-color: rgba(9, 34, 68, 1) !important;
}
/* .defenceDetailDialog .el-dialog {
  margin-top: 18.75rem !important;
} */
.defenceDetailDialog .el-dialog__headerbtn {
  display: block !important;
}
.defenceDetailDialog .el-dialog__close {
  color: #38c3fd !important;
}
.defenceDetailDialog .el-dialog__title {
  color: #38c3fd !important;
}
.defenceDetailDialog .el-dialog__body {
  height: 18.75rem;
}
/* 防区管理下的参数信息 */
.paramInfo {
  color: #38c3fd !important;
}
.paramInfo .el-dialog__body {
  height: auto;
  color: #38c3fd !important;
}
.paramInfo .paddingBottom {
  padding-bottom: 5px;
}
.paramInfo .paramType {
  border: 1px solid #2280ae;
  border-radius: 5px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.paramInfo .linkDevice {
  border: 1px solid #2280ae;
  padding-left: 5px;
  border-radius: 5px;
}

.byPass .el-form-item__label {
  color: #38c3fd;
}
.byPass .el-input__wrapper {
  background-color: transparent;
}
.byPassDialog .el-dialog__title {
  color: #38c3fd !important;
}
.byPassDialog .el-dialog {
  background-color: #092244 !important;
  background-image: none;
  min-height: 300px;
}
.byPassDialog .el-dialog__headerbtn {
  display: block !important;
}
.byPassDialog .el-dialog__close {
  color: #38c3fd !important;
}
/* 历史告警查询 */
.historyWarn .nameList {
  position: absolute;
  right: -1.3125rem;
}

/* ------------------视屏墙------------------------- */
.wall-container *,
.wall-container ::after,
.wall-container ::before {
  box-sizing: border-box;
}
.wall-container {
  width: 100%;
  height: 100%;
  background-color: #000;
}
/* .wall-container {
  height: 100vh;
} */
.wall-container .grid-wrapper {
  height: 100%;
  margin: 0px;
  background: transparent;
  display: flex;
  flex-wrap: wrap;
}

.wall-container .container-fluid {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.wall-container .grid-wrapper .player {
  padding: 0px;
  position: relative;
  border: 2px solid #000;
  background-image: url(./img/blue.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wall-container .grid-wrapper .player.select {
  border: 2px solid rgb(3, 253, 3);
}

.wall-container .grid-wrapper .player.grid-9 {
  width: 33.33%;
  height: 33.33%;
}

.wall-container .grid-wrapper .player.grid-6 {
  width: 50%;
  height: 33.34%;
}

.wall-container .grid-wrapper .player:not(.empty) {
  background: #343a40;
}

.wall-container .grid-wrapper .player video.video-class {
  background: #000;
  object-fit: fill;
}

.grid-wrapper .player video {
  height: 100%;
  width: 100%;
}

.wall-container .content-wrapper {
  height: 100%;
  background: transparent;
}

.wall-container .grid-wrapper .player video.video-class.empty {
  background: transparent;
}

.wall-container .player .close {
  width: 100%;
  height: 100%;
}

.wall-container .close-stream-btn {
  position: absolute;
  right: 0.5vw;
  top: 0.5vw;
  height: 0.5vw;
  width: 0.5vw;
  color: white;
  cursor: pointer;
  display: none;
  filter: drop-shadow(2px 4px 6px black);
}

.wall-container .player .loader {
  position: absolute;
  width: 100px;
  height: 70px;
  top: calc(50% - 35px);
  left: calc(50% - 50px);
}

.wall-container .d-none {
  display: none;
}

/* .wall-container.half-wall-container {
  height: 75vh;
  width: 50%;
  position: fixed;
  right: 0;
} */

.wall-container .grid-wrapper .player:not(.empty):hover .close-stream-btn {
  display: block;
}

.wall-container .grid-wrapper.full {
  background-color: #000;
  align-items: center;
  justify-content: center;
}

.wall-container .grid-wrapper .player.full-screen-1 {
  width: 100%;
  height: 66.66%;
  border: 2px solid rgb(0, 0, 0);
}

.wall-container .grid-wrapper .player.full-screen-0 {
  width: 100%;
  height: 100%;
  border: 2px solid rgb(0, 0, 0);
}
/* ----------------------地图部分---------------------------------- */
.wrap {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(230, 230, 230, 0.45);
}
.myposition {
  z-index: 1;
  left: 150px;
  bottom: 0px;
  width: 400px;
  height: 30px;
  color: #eee;
  position: absolute;
}

.ol-attribution {
  display: none;
}

/* 提示框的样式信息 */

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}

.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}

.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}

.tooltip-measure::before,
.tooltip-static::before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-static::before {
  border-top-color: #ffcc33;
}
.clear_ranging_line {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("../image/close.png");
  background-size: 100% 100%;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

/*Popop弹窗*/
/* 提示框的样式信息 */
.ol-popup {
  position: absolute;
  background-color: rgba(232, 232, 232, 0.7);
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 15px 20px 35px;
  border: 0px solid #013d55;
  bottom: -80px;
  left: 20px;
  min-width: 80px;
  width: 80px;
  height: 50px;
  background-size: 100% 100%;
  color: #eee;
  font-size: 13px;
  border-radius: 5px;
}
.ol-popup:after {
  border-top-color: #eeeeee;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.popup-content {
  width: 80px;
  height: 50px;
}
.popup-content > p {
  margin-top: auto;
}
.popup-content > p:hover {
  cursor: pointer;
}
.popup-content > p > span {
  display: block;
  color: #183764;
  font: 15px "Microsoft YaHei UI";
  text-align: center;
}
.popup-content > p > span:hover {
  color: #051e48;
}

/* ------------------------openLayers库css样式--------------------------------- */
.ol-box {
  box-sizing: border-box;
  border-radius: 2px;
  border: 2px solid #00f;
}
.ol-mouse-position {
  top: 8px;
  right: 8px;
  position: absolute;
}
.ol-scale-line {
  background: rgba(0, 60, 136, 0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  position: absolute;
}
.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
}
.ol-overlay-container {
  will-change: left, right, top, bottom;
}
.ol-unsupported {
  display: none;
}
.ol-unselectable,
.ol-viewport {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.ol-selectable {
  -webkit-touch-callout: default;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.ol-grabbing {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.ol-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}
.ol-control {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  padding: 2px;
}
.ol-control:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
.ol-zoom {
  top: 15em;
  left: 0.5em;
}
.ol-rotate {
  top: 0.5em;
  right: 0.5em;
  transition: opacity 0.25s linear, visibility 0s linear;
}
.ol-rotate.ol-hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s linear, visibility 0s linear 0.25s;
}
.ol-zoom-extent {
  top: 4.643em;
  left: 0.5em;
}
.ol-full-screen {
  right: 0.5em;
  top: 0.5em;
}
@media print {
  .ol-control {
    display: none;
  }
}
.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: #fff;
  font-size: 1.14em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  height: 1.375em;
  width: 1.375em;
  line-height: 0.4em;
  background-color: rgba(0, 60, 136, 0.5);
  border: none;
  border-radius: 2px;
}
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}
.ol-zoom-extent button {
  line-height: 1.4em;
}
.ol-compass {
  display: block;
  font-weight: 400;
  font-size: 1.2em;
  will-change: transform;
}
.ol-touch .ol-control button {
  font-size: 1.5em;
}
.ol-touch .ol-zoom-extent {
  top: 5.5em;
}
.ol-control button:focus,
.ol-control button:hover {
  text-decoration: none;
  background-color: rgba(0, 60, 136, 0.7);
}
.ol-zoom .ol-zoom-in {
  border-radius: 2px 2px 0 0;
}
.ol-zoom .ol-zoom-out {
  border-radius: 0 0 2px 2px;
}
.ol-attribution {
  text-align: right;
  bottom: 0.5em;
  right: 0.5em;
  max-width: calc(100% - 1.3em);
}
.ol-attribution ul {
  margin: 0;
  padding: 0 0.5em;
  font-size: 0.7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: " ";
}
.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}
.ol-attribution button,
.ol-attribution ul {
  display: inline-block;
}
.ol-attribution.ol-collapsed ul {
  display: none;
}
.ol-attribution.ol-logo-only ul {
  display: block;
}
.ol-attribution:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}
.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-logo-only {
  background: 0 0;
  bottom: 0.4em;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-uncollapsible img {
  margin-top: -0.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-logo-only button,
.ol-attribution.ol-uncollapsible button {
  display: none;
}
.ol-zoomslider {
  top: 4.5em;
  left: 0.5em;
  height: 200px;
}
.ol-zoomslider button {
  position: relative;
  height: 10px;
}
.ol-touch .ol-zoomslider {
  top: 5.5em;
}
.ol-overviewmap {
  left: 0.5em;
  bottom: 0.5em;
}
.ol-overviewmap.ol-uncollapsible {
  bottom: 0;
  left: 0;
  border-radius: 0 4px 0 0;
}
.ol-overviewmap .ol-overviewmap-map,
.ol-overviewmap button {
  display: inline-block;
}
.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 2px;
  width: 150px;
}
.ol-overviewmap:not(.ol-collapsed) button {
  bottom: 1px;
  left: 2px;
  position: absolute;
}
.ol-overviewmap.ol-collapsed .ol-overviewmap-map,
.ol-overviewmap.ol-uncollapsible button {
  display: none;
}
.ol-overviewmap:not(.ol-collapsed) {
  background: rgba(255, 255, 255, 0.8);
}
.ol-overviewmap-box {
  border: 2px dotted rgba(0, 60, 136, 0.7);
}
.ol-overviewmap .ol-overviewmap-box:hover {
  cursor: move;
}
